annotated-doc
annotated-types
anyio
click
docxtpl
et_xmlfile
fastapi
h11
idna
Jinja2
lxml
MarkupSafe
numpy
openpyxl
pandas
pathlib
pydantic
pydantic_core
python-dateutil
python-docx
python-multipart
pytz
six
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
